<nav class="px-4 pt-4 shadow-lg">

  <h4><%= link_to 'Mister Cocktail', cocktails_path, class: 'text-light text-decoration-none' %></h4>
  <br>
  <form class="form-inline mt-5">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
   <br><br>
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
