<nav class="rounded-right">
  <h4><%= link_to 'Mister Cocktail', cocktails_path, class: 'text-dark text-decoration-none' %></h4>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    <%= link_to 'New Cocktail', new_cocktail_path, class: 'ml-2 btn btn-primary' %>
  </form>
</nav>
