<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <button type="button" class="close text-right p-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body">
        <div class="container pb-4">
          <h4>Add an ingredient :</h4>
          <br>
          <%= simple_form_for [@cocktail, Dose.new] do |f| %>
            <%= f.input :description %>
            <%= f.association :ingredient %>
            <%= f.button :submit, class: 'btn btn-success' %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
