.banner{
  background-size: cover;
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
  box-shadow: 1px 1px 12px rgba(0,0,0,0.5);
  height:100vh;
  width:80vh;
  color: #fff;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.6);
  padding-top: 15%;
}
