.card{
  border: none;
  width: 30%;
  color: #fff;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
  border-radius:20px;
  img{
    padding-left:50%;
    height: 10vh;
  }
  a{
    color:#fff;
    text-decoration: none;
  }
  p{
    font-size: 1rem;
    color: #ffffff;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .card{
    width:100%;
    margin-bottom: 2vh;
    i {
      display:none;
    }
  }

  .card-body{
    padding-top: 0;
    padding-bottom: 0;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 577px) and (max-width: 992px) {
  .card{
    width:40%;
  }
}

// Large devices (desktops, 992px and up)


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
