nav{
  width: 30vh;
  color: #fff;
  background-color: #0f1312;
  height: 100vh;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
